h2{
    display: inline;
    position: absolute;
}
table  { margin-top:  0px; display: inline-block; overflow: auto; border-spacing: 0px; height: 500px;}
th div { margin-top: -20px; position: absolute;}