table  { margin-top:  0px; display: inline-block; overflow: auto; border-spacing: 0px; max-height: 500px;}
th div { margin-top: -20px; position: absolute;}

h2.link {
    display: inline;
    padding: 5px;
}
h1.heading {
    padding-left: 5px;
}